#center{
        margin:auto;
}
#loginButtonText{
        margin:auto;
}

p{
    user-select: none;/*Simdilik*/
    margin:auto;
}

a:link {
    text-decoration: none;
}
a.headerBtn:visited{
    color: rgb(227, 216, 95);
 
}


.background{
            width:100%;
            height:100%;
            border: 1px solid #AAAAAA;
            margin: auto;
            background-image: linear-gradient(to bottom right, #12567A, #5e87c1);

}

.mainCanvas{
            border-radius: 25px;
            width:80%;
            opacity: 1.0;
            height:auto;
            border: 6px solid #FFFFFF;
            background-image: linear-gradient(to bottom right, #e3e2dd, #D7D6D1);
            margin:30px auto;
            padding-top: 200px;
        }

.header{
        width:80%;
        height:175px;
        border:3px solid #888888;
        background-image: linear-gradient(to bottom right, #142850, #27496d);
        margin:20px auto;

}

.headerTitle{
        user-select: none;
        color: #C2BD0A;
        text-shadow: 10px 10px #123446;
        font-size: 64px;
        font-family: 'Fjalla One', sans-serif;
        margin: 10px 50px;

}

.headerButton{
        width: auto;
        height:40px;
        display:flex;
        border-radius: 10px;
        border:3px solid #888888;
        padding-right: 8px;
        padding-left: 8px;
        margin-left: 20px;
        margin-top: 25px;
        float:left;
        background-color: rgba(60,1,173,0.10);
        font-size:25px;
        color:rgb(227, 216, 95);
        text-align:center;
        transition: 0.25s ease;
        -webkit-transition: 0.25s ease;
        -moz-transition: 0.25s ease;
      
}
.headerButton:hover{
    
    -webkit-animation-name: yellowHPulse;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-box-shadow: 0 0 36px rgb(227, 216, 95);
    transform: scale(1.25);


}
@-webkit-keyframes yellowHPulse {
    from { 
        -webkit-box-shadow: 0 0 0 #3C1D00; }
    to { 
        -webkit-box-shadow: 0 0 36px rgb(227, 216, 95);
         }
}

.headerLogOut{
    width:60px;
    height:40px;

    display:none;

    border-radius: 10px;
    border:3px solid #888888;
    background-color: #333333;

    margin-right: -80px;
    margin-top: 30px;
    margin-bottom: 90px;

    float:right;
    background-image: linear-gradient( #550000, rgb(100, 50, 50));
    font-size:12px;


    color:rgb(255, 0, 0);
    text-align:center;
    cursor: pointer;



}
.loginButton{
        width:100px;
        height:32px;
        border-radius: 10px;
        border:1px solid #000000;
        background-color: rgba(60, 30, 0,0.30);
        margin-right: 10px;
        margin-top: -10px;
        font-size:15px;
        color:rgb(255, 142, 0);
        text-align:center;
        display: flex;
        cursor: pointer;
        float:right;
}

.loginButton:hover{
    -webkit-animation-name: orangePulse;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-box-shadow: 0 0 18px rgb(255, 142, 0);
    background-color: #000000;

}
@-webkit-keyframes orangePulse {
    from { 
        background-color: #3C1D00; 
        -webkit-box-shadow: 0 0 0 #3C1D00; }
    to { 
        background-color: #000000; 
        -webkit-box-shadow: 0 0 18px rgb(255, 142, 0); }
}


.blocked{
    display: none;
    position: fixed;
    width:100%;
    height:100%;
    margin: auto;
    background-color: rgba(0,0,0,0.80);
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loginPanel{
    display:none;
    width:400px;
    height:400px;
    /* border:6px outset #02466A; */
    border-radius: 20px;
    /*background-image: linear-gradient(to bottom right, #3276AA, #02466A);*/
     background-image: linear-gradient(to bottom right, rgba(128, 128, 128, 0.1), rgba(255, 255, 255, 0.1));
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.signUpPanel{
    display:none;
    width:400px;
    height:450px;
    /* border:6px outset #02466A; */
    border-radius: 20px;
    /* background-image: linear-gradient(to bottom right, #3276AA, #02466A); */
    background-image: linear-gradient(to bottom right, rgba(128, 128, 128, 0.1), rgba(255, 255, 255, 0.1));
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.loginInput{
        width:380px;
        height:30px;
        border-radius: 10px;
        border:3px solid #888888;
        background-color: #FCFCFF;
        margin-left: 10px;
        margin-top: 30px;
        float: left;
        font-size:20px;
        color:#BF56D0;
        text-align:center;
        
}
input#loginName{
    margin-top: 40px;
}

.loginSubmit:hover{
    background-color: #8C0E07;

}

.loginSubmit{
        width:100px;
        height:40px;
        border-radius: 10px;
        border:1px solid #000000;
        background-color: #C51109;
        margin-left: 150px;
        margin-top: 10px;
        float: left;
        font-size:24px;
        color:rgb(255, 255, 255);
        text-align:center;
        cursor: pointer;
        -webkit-transition: 0.25s ease;
}

.signUpSubmit:hover{
    background-color: #828282;

}
.signUpSubmit{
        width:100px;
        height:40px;
        border-radius: 10px;
        border:1px solid #000000;
        background-color: #DDDDDD;
        margin-left: 150px;
        margin-top: 10px;
        float: left;
        font-size:24px;
        color:rgb(0, 0, 0);
        text-align:center;
        cursor: pointer;
        -webkit-transition: 0.25s ease;
}

div#userLogin{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    margin-left: 30%;
    margin-top: 25px;
    font-size:30px;
    font-weight: 900;
    color:rgb(243, 230, 238);
    text-align:left;
    -webkit-text-stroke: 0.05px black;
}

div#userSignUp{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    margin-left: 26%;
    margin-top: 25px;
    font-size:30px;
    font-weight: 900;
    color:rgb(255, 255,255);
    text-align:left;
    -webkit-text-stroke: 0.05px black;
}

div#loginError{
    visibility: hidden;
    letter-spacing: 2px;
    margin-top: 170px;
    margin-bottom: 20px;
    margin-left: auto;
    font-size:20px;
    font-weight: 500;
    color:rgb(200, 0,0);
    text-align:center;
    -webkit-text-stroke: 0.20px red;
}

div#signUpError{
        visibility: hidden;
        letter-spacing: 2px;
        margin-top: 225px;
        margin-bottom: 20px;
        margin-left: auto;
        font-size:20px;
        font-weight: 500;
        color:rgb(200, 0,0);
        text-align:center;
        -webkit-text-stroke: 0.20px red;
    }
    

.invisible{
    display:none;

}




#homeFilmCanvas{
    border-radius: 25px;
    width:70%;
    max-width: 800px;
    height: 500px;
    border: 1px solid rgba(0,0,0,0.0);
    /*background-image: linear-gradient(rgba(93,09,09,0.01), rgba(57,0,0,0.00));*/
    margin:auto;
    margin-top: 100px;
    margin-bottom: 400px;
    -webkit-transition: 0.25s ease;
}

#homeFilmCanvas:hover{
    -webkit-animation-name: maroonPulse;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-iteration-count: 1;
    -webkit-box-shadow: 0 0 18px #27496d;
    background-image: linear-gradient(to bottom right, #142850, #27496d);
    border: 3px solid rgba(0,0,0);
}



}
@-webkit-keyframes maroonPulse {
    from { 
        background-image: linear-gradient(rgba(93,09,09,0.01), rgba(57,0,0,0.00));
        -webkit-box-shadow: 0 0 0 #FFFFFF; }
    to { 
        background-image: linear-gradient(rgba(93,09,09,0.80), rgba(57,0,0,0.70));
        -webkit-box-shadow: 0 0 18px rgb(88, 83, 83); }
}



#homeFilmInformation{
    width:300px;
    height: auto;
    margin:auto;
    margin-top: 200px;
    opacity: 1.00;
    background-image: linear-gradient(to bottom right,#626262, #343434);
    border: 3px outset #626262;

    -webkit-box-shadow: 0 5px 18px 3px #000000;

}

#homeFilmImage{
    width:711px;
    display:flex;
    height: 400px;
    background-color: rgba(0,0,0,0);
    margin:-180px auto;
    
}
.img{
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
   
    
 
    -webkit-box-shadow: 0 0 9px #9E9EFA;
}

#featureTitle{  
        font-size: 18px;
        margin-bottom:5px;
}

.featureInfo{
        font-size: 20px;
        margin-bottom:10px;
        color:white;
}



.detailPanel{
    display:none;
    width:75%;
    height:800px;
    border:6px outset #008BE4;
    background-image: linear-gradient(to bottom right, #D6FFFF, #A1BDE3);
    position: fixed;
    top: 50%;
    left: 50%;
     -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

#dpName{
    font-size: 50px;
    margin-left: 50px;
    margin-top: 50px;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 0 0 10px #FFAE00,0 0 20px #F6FF00 ;
    float:left;
}

#dpTrailer{
    margin-left: 50px;
    margin-top: 50px;
    width: 960px;
    height: 540px;
    float: left;
}

#dpRate{
    text-align: center
    

}

#dpDescription{
    font-size: 30px;
    position: fixed;
    margin-left: 1024px;
    margin-top: 200px;
    float:right;
    width: 400px;
    font-family: 'Fjalla One', sans-serif;

}

.checked {
  color: orange;
}

.dpRatePanel{
    font-size: 50px;
    margin-right: 50px;
    margin-top: 50px;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 0 0 10px #FFAE00,0 0 20px #F6FF00 ;
    float:right;
}

.pagePanel{
    margin-left:50%;
    margin-top:50px;
    padding-bottom: 50px;
    transform: translate(-10%, -50%);
}

.pageNo{
    text-shadow: 0 0 2px #FFAE00,0 0 1px #F6FF00 ;
 
}

.pageNo:hover{transform: scale(1.5);
    animation-fill-mode: both;
    -webkit-animation-name: yellowPulse;
    -webkit-animation-duration: 0.35s;
    -webkit-animation-iteration-count: 1;
    -webkit-box-shadow: 0 0 36px rgb(227, 216, 95);

}
@-webkit-keyframes yellowPulse {
   
    from { 
        -webkit-box-shadow: 0 0 0 #3C1D00; 
        font-size:30px;  
         }
        
    to { 
        -webkit-box-shadow: 0 0 36px rgb(227, 216, 95);
        font-size:40px;
         }
}

.pageNoLine{
    font-size: 30px;
    color:black;
}

